@import "./reset";

.container {
  max-width: 1600px;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;
}

.section-gradient {
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
  min-height: 100vh;
  margin-bottom: 20px;
  position: relative;
  &__shadow {
    position: absolute;
    border-radius: 0px 0px 12px 12px;
    height: 10px;
  }
  &__shadow-1 {
    width: calc(100% - 40px);
    background: #cacadb;
    bottom: -10px;
    left: 20px;
  }
  &__shadow-2 {
    width: calc(100% - 80px);
    background: #e7e7f2;
    bottom: -20px;
    left: 40px;
  }
}

.main-wrap {
  min-height: 100vh;
  position: relative;
}

.main-wrap-bg {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  &__h {
    position: absolute;
    height: 100%;
  }
}

.section-first {
  min-height: 100vh;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__header,
  &__title,
  &__button {
  }
  &__title {
    display: flex;
    justify-content: center;
  }
  &__button {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
}

.header-grid {
  border: 3px solid black;
  padding: 5px;
  color: white;
  display: grid;
  grid-template-areas: "logo info" "logo nav";
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas: "info" "logo" "nav";
  }
  &__logo,
  &__info,
  &__nav {
    padding: 20px;
    border: 1px solid;
  }
  &__logo {
    border-color: white;
    grid-area: logo;
  }
  &__info {
    border-color: red;
    grid-area: info;
  }
  &__nav {
    border-color: black;
    grid-area: nav;
  }
}

.btn-circle {
  width: 42px;
  height: 42px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  position: relative;
  transition: border-color 0.3s ease;
  &:after {
    content: "";
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(45deg);
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  &:hover {
    border-color: red;
    &:after {
      border-color: red;
    }
  }
}
